<nav id="main-nav">
                    <ul class="clearfix">
                        <li><a href="http://deltaden.kpd-i.com"><?php echo _e('Home','deltafinance');  ?></a></li>

                        <li class="hasSub">
                        	<a href="#"><?php echo _e('Apps','deltafinance');  ?></a>
                        	
                        	<div class="navMenu iconItem" id="navMenu_app">
                        		<div class="inner">
                        			<div class="column-2">Committees
		                        		<div class="col col-1">
		                        			<a class="item" href="//www.gmail.com">
		                        				<div class="image"><img width="22" height="22" alt="" src="/wp-includes/images/nav_app_icon.png"></div>
		                        				
		                        				<div class="content">
		                        					<div class="title">Google Mail</div>
		                        					<div class="copy">Check out your Google Mail</div>
		                        				</div>
		                        			</a>
		                        			
		                        			<a class="item" href="#">
		                        				<div class="image"><img width="22" height="22" alt="" src="/wp-includes/images/nav_app_icon.png"></div>
		                        				
		                        				<div class="content">
		                        					<div class="title">Google Calendar</div>
		                        					<div class="copy">Check out your Google Calendar</div>
		                        				</div>
		                        			</a>
		                        			
		                        			<a class="item" href="#">
		                        				<div class="image"><img width="22" height="22" alt="" src="/wp-includes/images/nav_app_icon.png"></div>
		                        				
		                        				<div class="content">
		                        					<div class="title">MyExpense Report</div>
		                        					<div class="copy">Check out your MyExpense Report</div>
		                        				</div>
		                        			</a>
		                        			
		                        			<a class="item" href="#">
		                        				<div class="image"><img width="22" height="22" alt="" src="/wp-includes/images/nav_app_icon.png"></div>
		                        				
		                        				<div class="content">
		                        					<div class="title">Medallia</div>
		                        					<div class="copy">Check out Medallia</div>
		                        				</div>
		                        			</a>
		                        			
		                        			<a class="item" href="#">
		                        				<div class="image"><img width="22" height="22" alt="" src="/wp-includes/images/nav_app_icon.png"></div>
		                        				
		                        				<div class="content">
		                        					<div class="title">Delta Privilege</div>
		                        					<div class="copy">Check out Delta Privilege</div>
		                        				</div>
		                        			</a>
		                        			
		                        			<a class="item" href="#">
		                        				<div class="image"><img width="22" height="22" alt="" src="/wp-includes/images/nav_app_icon.png"></div>
		                        				
		                        				<div class="content">
		                        					<div class="title">Talent Nest Employee Portal</div>
		                        					<div class="copy">Check out Talent Nest Employee Portal</div>
		                        				</div>
		                        			</a>
		                        			
		                        			<a class="item" href="#">
		                        				<div class="image"><img width="22" height="22" alt="" src="/wp-includes/images/nav_app_icon.png"></div>
		                        				
		                        				<div class="content">
		                        					<div class="title">Talent Nest Management System</div>
		                        					<div class="copy">Check out Talent Nest Management System</div>
		                        				</div>
		                        			</a>
		                        			
		                        			<a class="item" href="#">
		                        				<div class="image"><img width="22" height="22" alt="" src="/wp-includes/images/nav_app_icon.png"></div>
		                        				
		                        				<div class="content">
		                        					<div class="title">Delta Celebrates</div>
		                        					<div class="copy">Check out Delta Celebrates</div>
		                        				</div>
		                        			</a>
		                        			
		                        			<a class="item" href="#">
		                        				<div class="image"><img width="22" height="22" alt="" src="/wp-includes/images/nav_app_icon.png"></div>
		                        				
		                        				<div class="content">
		                        					<div class="title">MyDeltaHotels</div>
		                        					<div class="copy">Check out MyDeltaHotels</div>
		                        				</div>
		                        			</a>
		                        		</div>
		                        		
		                        		<div class="col col-2">
		                        			<a class="item" href="#">
		                        				<div class="image"><img width="22" height="22" alt="" src="/wp-includes/images/nav_app_icon.png"></div>
		                        				
		                        				<div class="content">
		                        					<div class="title">Google Drive</div>
		                        					<div class="copy">Check out Google Drive</div>
		                        				</div>
		                        			</a>
		                        			
		                        			<a class="item" href="#">
		                        				<div class="image"><img width="22" height="22" alt="" src="/wp-includes/images/nav_app_icon.png"></div>
		                        				
		                        				<div class="content">
		                        					<div class="title">Google Groups</div>
		                        					<div class="copy">Check out Google Groups</div>
		                        				</div>
		                        			</a>
		                        			
		                        			<a class="item" href="#">
		                        				<div class="image"><img width="22" height="22" alt="" src="/wp-includes/images/nav_app_icon.png"></div>
		                        				
		                        				<div class="content">
		                        					<div class="title">Secure Billing</div>
		                        					<div class="copy">Check out Secure Billing</div>
		                        				</div>
		                        			</a>
		                        			
		                        			<a class="item" href="#">
		                        				<div class="image"><img width="22" height="22" alt="" src="/wp-includes/images/nav_app_icon.png"></div>
		                        				
		                        				<div class="content">
		                        					<div class="title">Delta STEP Program</div>
		                        					<div class="copy">Check out Delta STEP Program</div>
		                        				</div>
		                        			</a>
		                        			
		                        			<a class="item" href="#">
		                        				<div class="image"><img width="22" height="22" alt="" src="/wp-includes/images/nav_app_icon.png"></div>
		                        				
		                        				<div class="content">
		                        					<div class="title">Environment Management Portal</div>
		                        					<div class="copy">Check out Environment Management Portal</div>
		                        				</div>
		                        			</a>
		                        			
		                        			<a class="item" href="#">
		                        				<div class="image"><img width="22" height="22" alt="" src="/wp-includes/images/nav_app_icon.png"></div>
		                        				
		                        				<div class="content">
		                        					<div class="title">Destinations</div>
		                        					<div class="copy">Check out Destinations</div>
		                        				</div>
		                        			</a>
		                        			
		                        			<a class="item" href="#">
		                        				<div class="image"><img width="22" height="22" alt="" src="/wp-includes/images/nav_app_icon.png"></div>
		                        				
		                        				<div class="content">
		                        					<div class="title">Employee Discounts</div>
		                        					<div class="copy">Check out Employee Discounts</div>
		                        				</div>
		                        			</a>
		                        			
		                        			<a class="item" href="#">
		                        				<div class="image"><img width="22" height="22" alt="" src="/wp-includes/images/nav_app_icon.png"></div>
		                        				
		                        				<div class="content">
		                        					<div class="title">LMS</div>
		                        					<div class="copy">Check out LMS</div>
		                        				</div>
		                        			</a>
		                        			
		                        			<a class="item" href="#">
		                        				<div class="image"><img width="22" height="22" alt="" src="/wp-includes/images/nav_app_icon.png"></div>
		                        				
		                        				<div class="content">
		                        					<div class="title">Support Ticket System</div>
		                        					<div class="copy">Check out Support Ticket System</div>
		                        				</div>
		                        			</a>
		                        		</div>
                        			</div>
                        		</div>
                        	</div>
                        </li>

                        <li class="hasSub">
                        	<a href="#"><?php echo _e('Departments','deltafinance');  ?></a>
                        	
                        	<div class="navMenu iconItem" id="navMenu_departments">
                        		<div class="inner">
                        			<div class="column-2">
		                        		<div class="col col-1">
		                        			<a class="item" href="#">
		                        				<div class="image"><img width="22" height="22" alt="" src="/wp-includes/images/nav_app_icon.png"></div>
		                        				
		                        				<div class="content">
		                        					<div class="title">Executive Offices</div>
		                        					<div class="copy">Check out your Google Mail</div>
		                        				</div>
		                        			</a>
		                        			
		                        			<a class="item" href="#">
		                        				<div class="image"><img width="22" height="22" alt="" src="/wp-includes/images/nav_app_icon.png"></div>
		                        				
		                        				<div class="content">
		                        					<div class="title">Legal</div>
		                        					<div class="copy">Check out your Google Calendar</div>
		                        				</div>
		                        			</a>
		                        			
		                        			<a class="item" href="#">
		                        				<div class="image"><img width="22" height="22" alt="" src="/wp-includes/images/nav_app_icon.png"></div>
		                        				
		                        				<div class="content">
		                        					<div class="title">Development</div>
		                        					<div class="copy">Check out your MyExpense Report</div>
		                        				</div>
		                        			</a>
		                        			
		                        			<a class="item" href="//marketing.deltaden.kpd-i.com">
		                        				<div class="image"><img width="22" height="22" alt="" src="/wp-includes/images/nav_app_icon.png"></div>
		                        				
		                        				<div class="content">
		                        					<div class="title">Marketing</div>
		                        					<div class="copy">Check out Medallia</div>
		                        				</div>
		                        			</a>
		                        			
		                        			<a class="item" href="#">
		                        				<div class="image"><img width="22" height="22" alt="" src="/wp-includes/images/nav_app_icon.png"></div>
		                        				
		                        				<div class="content">
		                        					<div class="title">Office Services</div>
		                        					<div class="copy">Check out Delta Privilege</div>
		                        				</div>
		                        			</a>
		                        			
		                        			<a class="item" href="//operations.deltaden.kpd-i.com">
		                        				<div class="image"><img width="22" height="22" alt="" src="/wp-includes/images/nav_app_icon.png"></div>
		                        				
		                        				<div class="content">
		                        					<div class="title">Operations</div>
		                        					<div class="copy">Check out Talent Nest Employee Portal</div>
		                        				</div>
		                        			</a>
		                        			
		                        			<a class="item" href="#">
		                        				<div class="image"><img width="22" height="22" alt="" src="/wp-includes/images/nav_app_icon.png"></div>
		                        				
		                        				<div class="content">
		                        					<div class="title">Sales</div>
		                        					<div class="copy">Check out Talent Nest Management System</div>
		                        				</div>
		                        			</a>
		                        		</div>
		                        		
		                        		<div class="col col-2">
		                        			<a class="item" href="#">
		                        				<div class="image"><img width="22" height="22" alt="" src="/wp-includes/images/nav_app_icon.png"></div>
		                        				
		                        				<div class="content">
		                        					<div class="title">Asset Management</div>
		                        					<div class="copy">Check out Google Drive</div>
		                        				</div>
		                        			</a>
		                        			
		                        			<a class="item" href="#">
		                        				<div class="image"><img width="22" height="22" alt="" src="/wp-includes/images/nav_app_icon.png"></div>
		                        				
		                        				<div class="content">
		                        					<div class="title">Design and Construction</div>
		                        					<div class="copy">Check out Google Groups</div>
		                        				</div>
		                        			</a>
		                        			
		                        			<a class="item" href="http://finance.deltaden.kpd-i.com/">
		                        				<div class="image"><img width="22" height="22" alt="" src="/wp-includes/images/nav_app_icon.png"></div>
		                        				
		                        				<div class="content">
		                        					<div class="title">Finance</div>
		                        					<div class="copy">Check out Secure Billing</div>
		                        				</div>
		                        			</a>
		                        			
		                        			<a class="item" href="#">
		                        				<div class="image"><img width="22" height="22" alt="" src="/wp-includes/images/nav_app_icon.png"></div>
		                        				
		                        				<div class="content">
		                        					<div class="title">Revenue and Online Distribution</div>
		                        					<div class="copy">Check out Delta STEP Program</div>
		                        				</div>
		                        			</a>
		                        			
		                        			<a class="item" href="#">
		                        				<div class="image"><img width="22" height="22" alt="" src="/wp-includes/images/nav_app_icon.png"></div>
		                        				
		                        				<div class="content">
		                        					<div class="title">Operations Accounting</div>
		                        					<div class="copy">Check out Environment Management Portal</div>
		                        				</div>
		                        			</a>
		                        			
		                        			<a class="item" href="#">
		                        				<div class="image"><img width="22" height="22" alt="" src="/wp-includes/images/nav_app_icon.png"></div>
		                        				
		                        				<div class="content">
		                        					<div class="title">People Resources</div>
		                        					<div class="copy">Check out Destinations</div>
		                        				</div>
		                        			</a>
		                        			
		                        			<a class="item" href="#">
		                        				<div class="image"><img width="22" height="22" alt="" src="/wp-includes/images/nav_app_icon.png"></div>
		                        				
		                        				<div class="content">
		                        					<div class="title">Technology</div>
		                        					<div class="copy">Check out Employee Discounts</div>
		                        				</div>
		                        			</a>
		                        		</div>
                        			</div>
                        		</div>
                        	</div>
                        </li>

                        <!--<li><a href="#"><?php echo _e('Hotels','deltafinance');  ?></a></li>-->

                        <li class="hasSub">
                        	<a href="#" id="mainNav_committees"><?php echo _e('Committees','deltafinance');  ?></a>
                        	<div class="navMenu column-2 greyBlue" id="navMenu_committees">
                        		<div class="col col-1">
									<?php //$blogs = get_blog_list( 0, 'all' );
									//print_r($blogs);
									    global $wpdb;
									$table= $wpdb->blogs;
									$sql= "select blog_id from ".$table ." where public='1'" ;
									$blog_query= $wpdb->get_results($sql);
									foreach($blog_query as $blog_group){
										$blogs_pregroup[] = $blog_group->blog_id;
										}
														$exclude = array(1,2,3,4 );
																		//print_r($exclude);
																	$blogs_group = array_diff($blogs_pregroup, $exclude);
																	$prgogram_group = array_values($blogs_group);
																	
																		?>


									<?php /**/
									//$blogs = get_blog_list( 4, 'all' );
									$args = array(
										'network_id' => $wpdb->siteid,
										'public'     => null,
										'archived'   => null,
										'mature'     => null,
										'spam'       => null,
										'deleted'    => null,
										'limit'      => 100,
										'offset'     => 10,
									);
									//echo '<pre>';
									$blogs= wp_get_sites( $args );
									//echo '</pre>';
									if ( 0 < count( $blogs ) ) :
										foreach( $blogs as $blog ) : 
											switch_to_blog( $blog[ 'blog_id' ] );

											if ( get_theme_mod( 'show_in_home', 'on' ) !== 'on' ) {
												continue;
											}

											$description  = get_bloginfo( 'description' );
											$blog_details = get_blog_details( $blog[ 'blog_id' ] );
											?>
											
											<div id="ctab-panel-<?php echo $blog['blog_id'];?>" class="inner ctab-panel">
													<div class="title"><?php bloginfo('name');?></div>
												<p>
													 <?php echo $description; ?>
												</p>

												
											</div>
											<?php restore_current_blog(); ?>
									<?php endforeach; 
									endif; restore_current_blog();   /**/ ?>
                        			<!--div class="inner">
	                        			<div class="title">Employee Engagement Committee (EES)</div>
	                        			
	                        			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla HetlipndciedsuknTt idcikaemt eu mauris. Mauris vehicula mollis lacus. Phasellus eleifend tincidunt nulla...</p>
                        			</div-->
                        		</div>
                        		
                        		<div class="col col-2">
                        			<div class="inner">
	                        			<ul>
	                        				<li class="ctab" rel="#ctab-panel-11"><a href="http://employeeengagement.deltaden.kpd-i.com/ ">Employee Engagement</a></li>
	                        				<li class="ctab" rel="#ctab-panel-12"><a href="http://employeerepresentative.deltaden.kpd-i.com/">Employee Representative</a></li>
	                        				<li class="ctab" rel="#ctab-panel-13"><a href="http://greencommittee.deltaden.kpd-i.com/">Green Committee</a></li>
	                        				<li class="ctab" rel="#ctab-panel-14"><a href="http://intranetsteeringcommittee.deltaden.kpd-i.com/">Intranet Steering Committee</a></li>
	                        				<li class="ctab" rel="#ctab-panel-15"><a href="http://joinhealthandsafety.deltaden.kpd-i.com/	">Join Health and Safety</a></li>
	                        				<li class="ctab" rel="#ctab-panel-16"><a href="http://researchethics.deltaden.kpd-i.com/">Research Ethics</a></li>
	                        				<li class="more"><a href="#">View All</a></li>
	                        			</ul>
                        			</div>
                        		</div>
                        	</div>
                        </li>
						
						<li class="separator">&nbsp;</li>
						
                        <li class="hasSub">
                        	<a href="#" id="mainNav_programs"><?php echo _e('Programs and Promotions','deltafinance');  ?></a>
                        	
                        	<div class="navMenu column-2 greyBlue" id="navMenu_programs">
                        		<div class="col col-1">
									<?php //$blogs = get_blog_list( 0, 'all' );
									//print_r($blogs);
									    global $wpdb;
									$table= $wpdb->blogs;
									$sql= "select blog_id from ".$table ." where public='1'" ;
$blog_query= $wpdb->get_results($sql);
foreach($blog_query as $blog_group){
	$blogs_pregroup[] = $blog_group->blog_id;
	}
					$exclude = array(1,2,3,4 );
									//print_r($exclude);
								$blogs_group = array_diff($blogs_pregroup, $exclude);
								$prgogram_group = array_values($blogs_group);
								
									?>


<?php /**/
//$blogs = get_blog_list( 4, 'all' );
$args = array(
    'network_id' => $wpdb->siteid,
    'public'     => null,
    'archived'   => null,
    'mature'     => null,
    'spam'       => null,
    'deleted'    => null,
    'limit'      => 100,
    'offset'     => 4,
);
//echo '<pre>';
$blogs= wp_get_sites( $args );
//echo '</pre>';
if ( 0 < count( $blogs ) ) :
    foreach( $blogs as $blog ) : 
        switch_to_blog( $blog[ 'blog_id' ] );

        if ( get_theme_mod( 'show_in_home', 'on' ) !== 'on' ) {
            continue;
        }

        $description  = get_bloginfo( 'description' );
        $blog_details = get_blog_details( $blog[ 'blog_id' ] );
        ?>
        
        <div id="mtab-panel-<?php echo $blog['blog_id'];?>" class="inner mtab-panel">
				<div class="title"><?php bloginfo('name');?></div>
            <p>
                 <?php echo $description; ?>
            </p>

            
        </div>
        <?php restore_current_blog(); ?>
<?php endforeach; 
endif; restore_current_blog();   /**/ ?>
                        		</div>
                        		
                        		<div class="col col-2">
                        			<div class="inner">
	                        		<ul>
									<li class="mtab" rel="#mtab-panel-5">
									<a href="http://deltaprivilege.deltaden.kpd-i.com/">Delta Privilege</a></li>
									<li class="mtab" rel="#mtab-panel-6">
									<a href="http://simplyclean.deltaden.kpd-i.com/">Simply Clean</a></li>
									<li class="mtab" rel="#mtab-panel-7">
									<a href="http://deltagreens.deltaden.kpd-i.com/">Delta Greens</a></li>
									<li class="mtab" rel="#mtab-panel-8">
									<a href="http://deltameetings.deltaden.kpd-i.com/">Delta Meetings</a></li>
									<li class="mtab" rel="#mtab-panel-9">
									<a href="http://deltaevents.deltaden.kpd-i.com/">Delta Events</a></li>
									<li class="mtab" rel="#mtab-panel-10">
									<a href="http://deltatalents.deltaden.kpd-i.com/">Delta Talents</a></li>
									<li class="more"><a href="#">View All</a></li>
									</ul>
                        			</div>
                        		</div>
                        	</div>
                        </li>
                    </ul>
                </nav>
