<nav id="global-nav">
    <ul>
        <li><a href="#"><?php echo _e('Social','deltafinance');  ?></a></li>
        <li><a href="#"><?php echo _e('DeltaHotels.com','deltafinance');  ?></a></li>
        <li><a href="#"><?php echo _e('Employee Directory','deltafinance');  ?></a></li>
        <li><a href="#"><?php echo _e('Google Drive','deltafinance');  ?></a></li>
        <li class="help"><a href="http://deltaden.kpd-i.com/help/"><?php echo _e('Help','deltafinance');  ?></a></li>
    </ul>
</nav>
